<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "css/normalize.css" %}">
    <link rel="stylesheet" href="{% static "css/fonts.css" %}">
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/money-info.css" %}">
    <link rel="stylesheet" href="{% static "css/map.css" %}">

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
</head>
<body>
<section class="menu center-menu pause-menu">
    <div class="btn continue-btn">Продолжить</div>
    <a href="{% url "start_game" %}">
        <div class="btn main-screen-btn">Главное меню</div>
    </a>
    <div class="btn fullscreen-btn">Полный экран</div>
</section>

<section class="screen bank active active_shop">
    <div class="progress-bar" style="display: none;"></div>
    <div class="tablet-icon" style="display: none;"></div>
    <div class="start-day-btn" style="display: none;"></div>
    <div class="image-container">
        <img src="../../media/bank.jpg" alt="" class="background">
        <div class="content">
            <button class="pause-btn btn">
                <span></span>
                <span></span>
            </button>
            {% include "money-info.html" %}
            <div class="minimap-icon">
                <img src="../../media/icons/square-back.png" alt="" class="back">
                <img src="../../media/icons/icon_map.png" alt="" class="icon">
            </div>
            {% include "map.html" with state='bank'%}
            <div class="credit-block">
                {% if credit.has_credit %}
                <form action="{% url "repay_credit" %}" method="post">
                    {% csrf_token %}
                    <span>Оплати кредит неуч</span>
                    <div>
                        <span>Сумма кредита: </span><span class="credit_val">{{credit.total_to_pay}}</span>
                    </div>
                    <div>
                        <span>До какого дня нужно оплатить:</span><span class="credit_val">{{credit.payment_day}}</span>
                    </div>
                    <button type="submit">Оплатить кредит</button>
                </form>
                {% else %}

                <form action="{% url "get_credit" %}" method="post" class="get-credit-form">
                    {% csrf_token %}
                    <input type="hidden" name="save_key" value="{{ save_key }}">
                    <input type="hidden" name="credit_amount" id="credit_amount_input" value="0">
                    <input type="hidden" name="credit_days" id="credit_days_input" value="1">
                    <div class="credit-content">
                        <label>
                            <span>Выберите сумму кредита</span>
                            <input id="credit_amount_range" type="range" min="10" max="{{max_credit}}" step="10" value="0">
                        </label>
                        <div>
                            <span>Сумма кредита: </span><span class="credit_sum" id="credit_sum">0</span>
                        </div>
                        <div>
                            <span>Процент кредита: </span><span class="credit_procent" id="credit_percent">0%</span>
                        </div>
                        <div>
                            <span>Итог к возврату: </span><span class="credit_total" id="credit_total">0</span>
                        </div>
                        <label>
                            <span>Дней на погашение кредита</span>
                            <input id="credit_days_range" type="range" min="1" max="10" step="1" value="1">
                        </label>
                        <div>
                            <span>Дней: </span><span class="credit_days" id="credit_days">1</span>
                        </div>
                        <button type="submit">Оформить кредит</button>
                    </div>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</section>

<script type="module" src="{% static "js/pause.js" %}"></script>
<script type="module" src="{% static "js/map.js" %}"></script>
<script type="module" src="{% static "js/bank.js" %}"></script>
<script type="module" src="{% static "js/base.js" %}"></script>
<script type="module" src="{% static "js/values.js" %}"></script>
</body>
</html>