<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "css/normalize.css" %}">
    <link rel="stylesheet" href="{% static "css/fonts.css" %}">
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
</head>
<body>
<section class="menu center-menu pause-menu">
    <div class="btn continue-btn">Продолжить</div>
    <a href="{% url "start_game" %}">
        <div class="btn main-screen-btn">Главное меню</div>
    </a>
    <div class="btn settings-btn">Настройки</div>
    <div class="btn fullscreen-btn">Полный экран</div>
</section>
<form action="{% url "casino_reload_page" %}" method="post" id="casino_reload_form">
    {% csrf_token %}
    <input type="hidden" name="balance" id="casino_balance" value="{{current_balance}}">
    <input type="hidden" name="key" value={{save_key}}>
</form>
<section class="screen casino active active_shop">
    <div class="image-container">
        <img src="../../media/casino.jpg" alt="" class="background">
        <div class="content">
            <button class="pause-btn btn">
                <span></span>
                <span></span>
            </button>
            <section class="money-info">
                <img src="../../media/icons/money.png" alt="">
                <div class="money-content"></div>
                <span class="money">{{ current_balance }}</span>
                <span class="money-per-second">0.1</span>
            </section>
            <div class="minimap-icon">
                <img src="../../media/icons/square-back.png" alt="" class="back">
                <img src="../../media/icons/icon_map.png" alt="" class="icon">
            </div>
            <div class="map-block">
                <img src="../../media/icons/square-back.png" alt="" class="back">
                <img src="../../media/icons/square-border.png" alt="" class="border">
                <img src="../../media/map.jpg" alt="" class="map">

                <div class="click_area bank-area">
                    <form action="{% url "bank" %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="key" value={{save_key}}>
                        <button></button>
                    </form>
                </div>
                <div class="click_area casino-area"></div>
                <div class="click_area shop-area">
                    <form action="{% url "game" %}" method="post">
                        {% csrf_token %}
                        <button></button>
                    </form>
                </div>
            </div>
            <div class="triangle"></div>
            <div class="wheel">
                <div class="wheel-content">
                    <img src="../../media/icons/wheel_casino.png" alt="">
                    <div class="circle"></div>
                    <div class="wheel-values">
                        <span>x0</span>
                        <span>x2</span>
                        <span>x0</span>
                        <span>x2</span>
                        <span>x0</span>
                        <span>x2</span>
                        <span>x0</span>
                        <span>x2</span>
                        <span>x0</span>
                        <span>x2</span>
                        <span>x0</span>
                        <span>x2</span>
                    </div>
                </div>
            </div>
            <div class="bet-values">
                <div class="bet"><img src="../../media/icons/rect-back.png" alt="">100</div>
                <div class="bet"><img src="../../media/icons/rect-back.png" alt="">200</div>
                <div class="bet"><img src="../../media/icons/rect-back.png" alt="">300</div>
                <div class="bet"><img src="../../media/icons/rect-back.png" alt="">400</div>
                <div class="bet"><img src="../../media/icons/rect-back.png" alt="">500</div>
                <div class="bet"><img src="../../media/icons/rect-back.png" alt="">600</div>
            </div>
        </div>
    </div>
</section>

<script type="module" src="{% static "js/pause.js" %}"></script>
<script type="module" src="{% static "js/map.js" %}"></script>
<script type="module" src="{% static "js/casino.js" %}"></script>
<script type="module" src="{% static "js/base.js" %}"></script>
<script type="module" src="{% static "js/values.js" %}"></script>
</body>
</html>