<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "css/normalize.css" %}">
    <link rel="stylesheet" href="{% static "css/fonts.css" %}">
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
<section class="screen main-screen active">
    <div class="image-container">
        <img src="../../media/title.jpeg" alt="" class="background">
        <div class="content">
            <div class="menu">
                <div class="btn new-game-btn" data-screen-target="tier0_shop">Новая игра</div>
                <div class="btn">Продолжить</div>
                <div class="btn">Настройки</div>
                <div class="btn fullscreen-btn">Полный экран</div>
            </div>
        </div>
    </div>
</section>

<section class="screen tier0_shop">
    <div class="image-container">
        <img src="../../media/tier0_shop.png" alt="" class="background">
        <div class="content">
            <button class="pause-btn btn" data-screen-target="main-screen">
                <span></span>
                <span></span>
            </button>
        </div>
    </div>
</section>
<script src="{% static "js/script.js" %}"></script>
</body>
</html>