<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "css/normalize.css" %}">
    <link rel="stylesheet" href="{% static "css/fonts.css" %}">
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
<script type="module" src="{% static "js/base.js" %}"></script>
<section class="menu center-menu create-save-menu">
    <form action="{% url "create_save" %}" id="create_save_form" method="post" style="width: 100%;">
        {% csrf_token %}
        <div class="exit btn">Назад</div>
        <input from="create_save_form" name="username" type="text" class="btn input" placeholder="Имя персонажа" autocomplete="off" required>
        <button from="create_save_form" class="btn" type="submit">СОЗДАТЬ</button>
    </form>
</section>
<audio controls autoplay muted loop>
  <source src="../../media/main.mp3" type="audio/mpeg">
</audio>

<audio id="myAudio" src="sound.mp3" preload="auto"></audio>

{% if not request.user.is_authenticated %}
<section class="menu center-menu registration-menu active">
    <form action="{% url "create_account" %}" method="post">
        {% csrf_token %}
        <input name="username" type="text" class="btn input" placeholder="Никнейм" required>
        <input name="password" type="password" class="btn input" placeholder="Пароль" required>
        <button class="btn" type="submit" >Создать аккаунт</button>
    </form>
</section>
{% endif %}

<section class="menu center-menu choose-save-menu">
    <div class="exit btn">Назад</div>
    <div class="saves-block">
        {% for key, save in saves.items %}
            {% if save|length == 0 %}
                <div class="save-block create-save">
                    <div class="cross">
                        <span></span>
                        <span></span>
                    </div>
                </div>
            {% else %}
                <form action="{% url "game" %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="key" value="{{key}}">
                    <div class="choose-save-block">
                        <button type="submit" class="choose-save-btn"></button>
                        <span class="username">{{save.username}}</span>
                        </div>
                </form>
            {% endif %}
        {% endfor %}
    </div>
</section>

{% if request.user.is_authenticated %}
<section class="screen main-screen active">
    <div class="image-container">
        <img src="../../media/title.jpeg" alt="" class="background">
        <div class="content">
            <div class="menu main-menu">
                <div class="btn new-save-btn">Новая игра</div>
                <div class="btn continue-btn">Продолжить</div>
                <div class="btn">Настройки</div>
                <div class="btn fullscreen-btn">Полный экран</div>
            </div>
        </div>
    </div>
</section>
{% endif %}

<script type="module" src="{% static "js/values.js" %}"></script>
<script type="module" src="{% static "js/main-menu.js" %}"></script>
</body>
</html>