<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "css/normalize.css" %}">
    <link rel="stylesheet" href="{% static "css/fonts.css" %}">
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
<section class="menu center-menu pause-menu">
    <div class="btn continue-btn">Продолжить</div>
    <div class="btn main-screen-btn" data-screen-target="main-screen">Главное меню</div>
    <div class="btn settings-btn">Настройки</div>
    <div class="btn fullscreen-btn">Полный экран</div>
</section>

<section class="menu center-menu registration-menu">
    <form action="{% url "create_account" %}" method="post">
        {% csrf_token %}
        <div class="btn exit-btn" style="width: fit-content; padding-inline: 10px;">← Назад</div>
        <input name="username" type="text" class="btn input" placeholder="Никнейм" required>
        <input name="password" type="password" class="btn input" placeholder="Пароль" required>
        <button class="btn" type="submit" >Создать аккаунт</button>
    </form>
</section>

<section class="screen main-screen active">
    <div class="image-container">
        <img src="../../media/title.jpeg" alt="" class="background">
        <div class="content">
            <div class="menu main-menu">
                <div class="btn new-game-btn">Новая игра</div>
                <div class="btn continue-btn" data-screen-target="tier0_shop">Продолжить</div>
                <div class="btn">Настройки</div>
                <div class="btn fullscreen-btn">Полный экран</div>
            </div>
        </div>
    </div>
</section>

<section class="screen tier0_shop shop active_shop">
    <div class="image-container">
        <img src="../../media/tier0_shop.jpg" alt="" class="background">
        <div class="content">
            <button class="pause-btn btn">
                <span></span>
                <span></span>
            </button>
            <section class="money-info">
                <img src="../../media/svg/money.png" alt="">
                <div class="money-content"></div>
                <span class="money">0.1</span>
                <span class="money-per-second">0.1</span>
            </section>
            <div class="plus">+</div>
        </div>
    </div>
</section>
<script type="module" src="{% static "js/base.js" %}"></script>
<script type="module" src="{% static "js/values.js" %}"></script>
<script type="module" src="{% static "js/main-menu.js" %}"></script>
<script type="module" src="{% static "js/tier0-shop.js" %}"></script>
<script type="module" src="{% static "js/shop.js" %}"></script>
</body>
</html>