<section class="screen tier0_shop shop active_shop active">
    <div class="image-container">
        <img src="../../media/tier0_shop.jpg" alt="" class="background">
        <div class="content">
            <button class="pause-btn btn">
                <span></span>
                <span></span>
            </button>
            <section class="money-info">
                <img src="../../media/svg/money.png" alt="">
                <div class="money-content"></div>
                <span class="money">{{ save.capital }}</span>
                <span class="money-per-second">0.1</span>
            </section>
            <div class="brush">
                <img src="../../media/svg/brush.png" alt="">
            </div>
            <div class="click_area brush_area">
                <form action="{% url "next_tier" %}" method="post" id="nextTierForm">
                    {% csrf_token %}
                    <button class="next-tier-btn" type="submit"></button>
                    <input type="hidden" name="key" value={{save_key}}>
                    <input type="hidden" name="next_tier" value="tier0_5">
                </form>
            </div>
        </div>
    </div>
</section>