<section class="screen tier2_shop shop active_shop active">
    <div class="image-container">
        <img src="../../media/tier2_shop.jpeg" alt="" class="background">
        <div class="content">
            <button class="pause-btn btn">
                <span></span>
                <span></span>
            </button>
            {% include "money-info.html" %}
            <div class="minimap-icon">
                <img src="../../media/icons/square-back.png" alt="" class="back">
                <img src="../../media/icons/icon_map.png" alt="" class="icon">
            </div>
            {% include "map.html" with state='game'%}
            {% include "tablet.html" with gamestate='wait' %}
            {% if progress_bar_width == 100 %}
            <div class="next-tier-btn">
                <form action="{% url "next_tier" %}" method="post" id="nextTierForm">
                    {% csrf_token %}
                    <button type="submit"></button>
                    <input type="hidden" name="key" value={{save_key}}>
                    <input type="hidden" name="next_tier" value="tier2_5">
                    <input name="money" type="hidden" id="money" value="{{save.capital}}">
                    <div class="next-tier-btn-block">
                        <img src="../../media/icons/rect-back.png" alt="">
                        <span>Новый уровень</span>
                    </div>
                </form>
            </div>
            <input type="hidden" class="progress-bar">
            {% else %}
                {% include "progress-bar.html" %}
                <input type="hidden" class="next-tier-btn">
            {% endif %}
            <div class="start-day-btn">
                <img src="../../media/icons/rect-back.png" alt="">
                <span>Начать день</span>
                <form action="{% url "gameplay" %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="key" value={{save_key}}>
                    <button></button>
                </form>
            </div>
        </div>
    </div>
</section>