<section class="screen tier1_shop shop active_shop active">
    <div class="image-container">
        <img src="../../media/tier1_shop.jpg" alt="" class="background">
        <div class="content">
            <button class="pause-btn btn">
                <span></span>
                <span></span>
            </button>
            {% include "money-info.html" %}
            <div class="minimap-icon">
                <img src="../../media/icons/square-back.png" alt="" class="back">
                <img src="../../media/icons/icon_map.png" alt="" class="icon">
            </div>
            {% include "map.html" %}
            {% include "tablet.html" with gamestate='wait'%}
        </div>
    </div>
</section>