.wheel {
    position: absolute;
    left: 49%;
    top: 48%;
    height: 74%;
    aspect-ratio: 1 / 1;
    transform: translate(-50%, -50%);
}

.wheel.brightness {
    filter: brightness(40%);
}

.wheel-content {
    width: 100%;
    height: 100%;
    transform-origin: center;
    position: relative;
}

.wheel-values {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-size: 3rem;
}

.wheel-values span {
    position: absolute;
    transform: translateX(-50%);
    color: white;
}

.wheel-values span:nth-child(even) {
    color: rgb(206, 53, 48);
}

.wheel-values span:nth-child(1) {
    top: 16%;
    left: 50%;
}

.wheel-values span:nth-child(2) {
    top: 20%;
    left: 61%;
    transform: rotate(30deg);
}

.wheel-values span:nth-child(3) {
    top: 31%;
    left: 72%;
    transform: rotate(60deg);
}

.wheel-values span:nth-child(4) {
    top: 45%;
    left: 75%;
    transform: rotate(90deg);
}

.wheel-values span:nth-child(5) {
    top: 59%;
    left: 72%;
    transform: rotate(120deg);
}

.wheel-values span:nth-child(6) {
    top: 70%;
    left: 61%;
    transform: rotate(150deg);
}

.wheel-values span:nth-child(7) {
    top: 74%;
    left: 46%;
    transform: rotate(180deg);
}

.wheel-values span:nth-child(8) {
    top: 70%;
    left: 31%;
    transform: rotate(210deg);
}

.wheel-values span:nth-child(9) {
    top: 59%;
    left: 21%;
    transform: rotate(240deg);
}

.wheel-values span:nth-child(10) {
    top: 44%;
    left: 17%;
    transform: rotate(270deg);
}

.wheel-values span:nth-child(11) {
    top: 30%;
    left: 22%;
    transform: rotate(300deg);
}

.wheel-values span:nth-child(12) {
    top: 20%;
    left: 31%;
    transform: rotate(330deg);
}


.wheel img {
    width: 100%;
    height: 100%;
}

.bet-values {
    position: absolute;
    width: 350px;
    height: 200px;
    right: 8%;
    top: 50%;
    transform: translate(0, -50%);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(28%, 1fr));
    background-color: rgba(255, 255, 255, 0.4);
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    pointer-events: all;
}

.bet-values.brightness {
    filter: brightness(40%);
    pointer-events: none;
}

.bet-values .bet {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: #E2E8F0;
    height: fit-content;
    padding: 10px 0;
    margin: 10px;
    cursor: pointer;
    pointer-events: all;
}

.bet-values .bet:hover {
    opacity: 0.9;
    transform: scale(1.05);
}

.bet-values .bet img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.bet-values.brightness .bet{
    pointer-events: none;
    cursor: none;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

.triangle {
   width: 0px;
   height: 0px;
   border-style: solid;
   border-width: 0 20px 80px 20px;
   border-color: transparent transparent rgb(147, 34, 30) transparent;
   transform: rotate(180deg) translateX(50%);
   position: absolute;
   left: 49%;
   top: 10.6%;
   z-index: 4;
}

.triangle.brightness {
    filter: brightness(40%);
}